.container__future {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__title {
    font-family: $overpass;
    font-size: 2.7rem;
    color: $very-dark-blue;
    margin-bottom: 50px;
    text-align: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 50px;
    width: 100%;
  }

  &__text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $overpass;
    margin-bottom: 50px;

    &__title {
      font-size: 3rem;
      width: 70%;
      text-align: center;
      color: $very-dark-blue;
      margin-bottom: 20px;
    }

    &__text {
      text-align: center;
      width: 75%;
      font-size: 1.5rem;
      color: $very-dark-grayish-blue;
      line-height: 2.6rem;
    }
  }
}

@media screen and (min-width: 412px) {
  .container__future__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .container__future__title {
    font-size: 5rem;
    margin-bottom: 60px;
  }

  .container__future__details {
    margin-bottom: 80px;
    &__title {
      font-size: 5rem;
    }
    &__text {
      font-size: 3rem;
      line-height: 5rem;
    }
  }
}
@media screen and (min-width: 820px) {
  .container__future__title {
    font-size: 5.5rem;
    margin-bottom: 60px;
  }

  .container__future__img {
    margin-bottom: 80px;
  }

  .container__future__details {
    margin-bottom: 80px;
    &__title {
      font-size: 5.8rem;
    }
    &__text {
      font-size: 3.5rem;
      line-height: 5.5rem;
    }
  }
}
@media screen and (min-width: 1200px) {
  .container__future__title {
    margin-bottom: 100px;
  }

  .container__future__title {
    font-size: 4rem;
  }
  .container__future__box {
    flex-direction: row-reverse;
  }

  .container__future__img {
    position: relative;
    right: -80px;
    width: 120%;
    margin-bottom: 80px;
  }

  .container__future__details {
    margin-bottom: 80px;
    &__title {
      font-size: 3.5rem;
      width: 100%;
      text-align: left;
    }
    &__text {
      text-align: left;
      font-size: 2rem;
      line-height: 3.5rem;
      width: 100%;
    }
  }
  .container__future__text-box {
    margin-left: 100px;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1920px) {
  .container__future__box {
    overflow: hidden;
  }
  .container__future__title {
    font-size: 5rem;
  }
  .container__future__details {
    margin-bottom: 80px;
    &__title {
      font-size: 4rem;
      width: 100%;
      text-align: left;
    }
    &__text {
      text-align: left;
      font-size: 2.5rem;
      line-height: 4rem;
    }
  }
  .container__future__img {
    right: -110px;
    width: 130%;
    margin-bottom: 80px;
  }
}
