.container__header {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(
    to right bottom,
    $very-light-red 10%,
    $light-red 130%
  );

  position: relative;
  overflow: hidden;
  padding: 3rem 3rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $overpass;
  }

  &__text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  &__title {
    font-size: 2.5rem;
    width: 100%;
    color: $white;
    font-weight: 300;
    line-height: 5rem;
    text-align: center;
    font-family: $ubuntu;
  }

  &__text {
    font-size: 1.8rem;
    text-align: center;
    color: $light-gray;
    line-height: 2.7rem;
  }

  &__btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 50px;
  }

  &__btn {
    width: 45%;
    border-radius: 10rem;
    background: none;
    border: 1.5px solid $white;
    font-family: $ubuntu;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: $white;

    &:nth-child(1) {
      background-color: $white;
      color: $light-red;
    }
  }

  &__circles-desktop {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    z-index: -1;
  }
}

.container__header__circles {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  z-index: -1;
}

@media screen and (min-width: 360px) {
  .container__header__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 375px) {
  .container__header {
    border-bottom-left-radius: 10rem;
  }

  .container__header__title {
    font-size: 3.3rem;
    width: 95%;
  }

  .container__header__text {
    width: 90%;
  }
}

@media screen and (min-width: 450px) {
  .container__header__title {
    font-size: 3.5rem;
  }

  .container__header__btn {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 535px) {
  .container__header__text {
    width: 60%;
  }
  .container__header__btn {
    width: 40%;
  }
}
@media screen and (min-width: 535px) {
  .container__header__title {
    font-size: 4rem;
  }
  .container__header__btn {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .container__header__circles {
    display: none;
  }
  .container__header__circles-desktop {
    display: block;
    width: 1500px;
  }
  .container__header__title {
    font-size: 6rem;
    line-height: 8rem;
  }
  .container__header__text {
    width: 70%;
    font-size: 3rem;
    line-height: 4rem;
  }
  .container__header__btn {
    width: 35%;
    height: 70px;
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 820px) {
  .container__header__title {
    font-size: 6.5rem;
    line-height: 8.5rem;
    margin-bottom: 2rem;
  }
  .container__header__text {
    width: 75%;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .container__header__btn {
    width: 35%;
    height: 70px;
    font-size: 2.2rem;
  }
}

// @media screen and (min-height: 1080px) {
//   .container__header__title {
//     font-size: 5rem;
//     line-height: 8rem;
//   }
//   .container__header__text {
//     font-size: 2.5rem;
//     width: 90%;
//     line-height: 4rem;
//   }
// }
