.container__nav__mobile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-bottom: 10rem;
}

.container__nav__logo {
  font-size: 2.5rem;
  font-family: $overpass;
  font-weight: bold;
  color: $white;
}

.container__nav__burger-menu {
  height: 20px;
}

.container__nav__box {
  width: 85%;
  height: 550px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(100%, -50%);
  transition: all 0.5s;
}

.show {
  transform: translate(-50%, -50%);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-family: $ubuntu;
}

.close-btn {
  filter: brightness(0);
  right: 20px;
  top: 20px;
  position: absolute;
}

.container__nav__list-contact {
  background-color: $grayish;
  padding: 3rem 0;
  width: 80%;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  gap: 2rem;
  color: $grayish-blue;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: $grayish;
    bottom: -3rem;
  }
}

.link {
  font-size: 2rem;
  text-decoration: none;
  color: $very-dark-grayish-blue;
  font-family: $overpass;
  font-weight: bold;
}

.arrow {
  width: 1.2rem;
  margin-bottom: 0.1rem;
}

.container__nav__data {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: $overpass;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.details {
  font-size: 2rem;
}

.container__nav__sign-up {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  background-image: linear-gradient(
    to right,
    $very-light-red 10%,
    $light-red 130%
  );
  border-radius: 3rem;
  color: $light-gray;
}

.container__nav__desktop {
  width: 100%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  display: none;

  margin-bottom: 15rem;

  &__left-side {
    display: flex;
    gap: 30px;
  }

  &__logo {
    font-size: 3.5rem;
    font-family: $overpass;
    color: $white;
  }

  &__list {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 1.8rem;
    color: $white;
    text-decoration: none;
    font-family: $overpass;
  }

  .arrow__desktop {
    width: 1rem;
    filter: brightness(10);
  }

  &__right-side {
    display: flex;
    gap: 20px;
  }

  &__login {
    font-family: $overpass;
    font-size: 1.8rem;
    color: $white;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  &__sign-up {
    font-family: $overpass;
    font-size: 1.8rem;
    color: $light-red;
    background-color: $white;
    width: 100px;
    border: none;
    font-weight: bold;
    height: 40px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (min-width: 375px) {
  .container__nav__mobile {
    margin-bottom: 8rem;
  }

  .container__nav__box {
    top: 55%;
  }
}
@media screen and (min-width: 390px) {
  .container__nav__box {
    top: 50%;
  }
  .container__nav__mobile {
    margin-bottom: 10rem;
  }
}
@media screen and (min-width: 393px) {
  .container__nav__mobile {
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 412px) and (min-height: 896px) {
  .container__nav__mobile {
    margin-bottom: 15rem;
  }
  .container__nav__box {
    top: 45%;
  }
}

@media screen and (min-width: 450px) {
  .container__nav__box {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .container__nav__box {
    display: none;
  }
  .container__nav__mobile {
    display: none;
  }
  .container__nav__desktop {
    display: flex;
  }
}
@media screen and (min-width: 820px) {
  .container__nav__desktop {
    margin-bottom: 20rem;
  }
}
@media screen and (min-height: 1080px) {
  .container__nav__mobile {
    margin-bottom: 20rem;
  }
}
@media screen and (min-width: 1200px) {
  .container__nav__desktop {
    width: 1000px;
    margin-bottom: 20rem;
  }
}
@media screen and (min-width: 1440px) {
  .container__nav__desktop {
    width: 1000px;
    margin-bottom: 15rem;
  }
}
