// PRIMARY

$light-red: hsl(356, 100%, 69%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 45%, 29%);

// NAUTRAL

$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 95%);
$grayish-blue: hsl(0, 0%, 85%);
$grayish: hsl(0, 0%, 86%);
$very-dark-grayish-blue: hsl(208, 12%, 41%);
$very-dark-black-blue: hsl(240, 9%, 22%);
$black: hsl(215, 22%, 15%);

// GRADIENT

// Background gradient - Intro/CTA mobile nav

$very-light-red: hsl(13, 100%, 73%);
$light-red: hsl(353, 100%, 63%);

// Background gradient - body

$very-dark-gray-blue: hsl(237, 17%, 23%);
$very-dark-desaturated-blue: hsl(237, 23%, 32%);

// TYPOGRAPHY

$default: 16px;
$overpass: "Overpass", sans-serif;
$ubuntu: "Ubuntu", sans-serif;
