*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

.container__header {
  width: 100%;
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #ff8f70), color-stop(130%, #ff3d54));
  background-image: linear-gradient(to right bottom, #ff8f70 10%, #ff3d54 130%);
  position: relative;
  overflow: hidden;
  padding: 3rem 3rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Overpass", sans-serif;
}

.container__header__text-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.container__header__title {
  font-size: 2.5rem;
  width: 100%;
  color: white;
  font-weight: 300;
  line-height: 5rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.container__header__text {
  font-size: 1.8rem;
  text-align: center;
  color: whitesmoke;
  line-height: 2.7rem;
}

.container__header__btn-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  height: 50px;
}

.container__header__btn {
  width: 45%;
  border-radius: 10rem;
  background: none;
  border: 1.5px solid white;
  font-family: "Ubuntu", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.container__header__btn:nth-child(1) {
  background-color: white;
  color: #ff3d54;
}

.container__header__circles {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1100px;
  z-index: -1;
}

@media screen and (min-width: 360px) {
  .container__header__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 375px) {
  .container__header {
    border-bottom-left-radius: 10rem;
  }
  .container__header__title {
    font-size: 3.3rem;
    width: 95%;
  }
  .container__header__text {
    width: 90%;
  }
}

@media screen and (min-width: 450px) {
  .container__header__title {
    font-size: 3.5rem;
  }
  .container__header__btn {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 535px) {
  .container__header__text {
    width: 60%;
  }
  .container__header__btn {
    width: 40%;
  }
}

@media screen and (min-width: 535px) {
  .container__header__title {
    font-size: 4rem;
  }
  .container__header__btn {
    width: 30%;
  }
}

@media screen and (min-height: 1080px) {
  .container__header__title {
    font-size: 5rem;
    line-height: 8rem;
  }
  .container__header__text {
    font-size: 2.5rem;
    width: 90%;
    line-height: 4rem;
  }
}

.container__nav__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

.container__nav__logo {
  font-size: 2.5rem;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  color: white;
}

.container__nav__burger-menu {
  height: 20px;
}

.container__nav__box {
  width: 85%;
  height: 550px;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.show {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  font-family: "Ubuntu", sans-serif;
}

.container__nav__list-contact {
  background-color: #dedede;
  padding: 3rem 0;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  gap: 2rem;
  color: #d9d9d9;
  position: relative;
}

.container__nav__list-contact::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #dedede;
  bottom: -3rem;
}

.link {
  font-size: 2rem;
  text-decoration: none;
  color: #4b5862;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
}

.arrow {
  width: 1.2rem;
  margin-bottom: 0.1rem;
}

.container__nav__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  font-family: "Overpass", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.details {
  font-size: 2rem;
}

.container__nav__sign-up {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #ff8f70), color-stop(130%, #ff3d54));
  background-image: linear-gradient(to right, #ff8f70 10%, #ff3d54 130%);
  border-radius: 3rem;
  color: whitesmoke;
}

@media screen and (min-width: 375px) {
  .container__nav__mobile {
    margin-bottom: 10rem;
  }
  .container__nav__box {
    top: 55%;
  }
}

@media screen and (min-width: 390px) {
  .container__nav__box {
    top: 50%;
  }
}

@media screen and (min-width: 412px) and (min-height: 896px) {
  .container__nav__mobile {
    margin-bottom: 15rem;
  }
  .container__nav__box {
    top: 45%;
  }
}

@media screen and (min-width: 450px) {
  .container__nav__box {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .container__nav__box {
    display: none;
  }
}

@media screen and (min-height: 1080px) {
  .container__nav__mobile {
    margin-bottom: 20rem;
  }
}
/*# sourceMappingURL=style.css.map */