*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

.container {
  overflow: hidden;
}

.container__header {
  width: 100%;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(11%, #ff8f70), color-stop(130%, #ff3d54));
  background-image: linear-gradient(to right bottom, #ff8f70 11%, #ff3d54 130%);
  position: relative;
  overflow: hidden;
  padding: 3rem 3rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.container__header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Overpass", sans-serif;
  position: absolute;
  top: 30%;
}

.container__header__text-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.container__header__title {
  font-size: 2.5rem;
  width: 100%;
  color: white;
  font-weight: 300;
  line-height: 5rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.container__header__text {
  font-size: 1.8rem;
  text-align: center;
  color: whitesmoke;
  line-height: 2.7rem;
}

.container__header__btn-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  height: 50px;
}

.container__header__btn {
  width: 35%;
  border-radius: 10rem;
  background: none;
  border: 1.5px solid white;
  font-family: "Ubuntu", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container__header__btn:nth-child(1) {
  background-color: white;
  color: #ff3d54;
}

.container__header__btn:nth-child(1):hover {
  background: none;
  border: 1.5px solid white;
  color: white;
}

.container__header__circles-desktop {
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1100px;
  z-index: -1;
}

.container__header__circles {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1100px;
  z-index: -1;
}

@media screen and (min-width: 360px) {
  .container__header__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 375px) {
  .container__header {
    border-bottom-left-radius: 10rem;
  }
  .container__header__title {
    font-size: 3.3rem;
    width: 95%;
  }
  .container__header__text {
    width: 90%;
  }
}

@media screen and (min-width: 412px) {
  .container__header__btn {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 450px) {
  .container__header__title {
    font-size: 3.5rem;
  }
  .container__header__btn {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 535px) {
  .container__header__text {
    width: 60%;
  }
  .container__header__btn {
    width: 40%;
  }
}

@media screen and (min-width: 535px) {
  .container__header__title {
    font-size: 4rem;
  }
  .container__header__btn {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .container__header__circles {
    display: none;
  }
  .container__header__circles-desktop {
    display: block;
    width: 1500px;
  }
  .container__header__title {
    font-size: 6rem;
    line-height: 8rem;
  }
  .container__header__text {
    width: 70%;
    font-size: 3rem;
    line-height: 4rem;
  }
  .container__header__btn {
    width: 35%;
    height: 70px;
    font-size: 2.2rem;
  }
  .container__header {
    height: 850px;
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 820px) {
  .container__header__title {
    font-size: 6.5rem;
    line-height: 8.5rem;
    margin-bottom: 2rem;
  }
  .container__header__text {
    width: 75%;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .container__header__btn {
    width: 35%;
    height: 70px;
    font-size: 2.2rem;
  }
  .container__header {
    height: 890px;
  }
}

@media screen and (min-width: 1200px) {
  .container__header__title {
    font-size: 5.5rem;
    width: 90%;
    line-height: 8rem;
  }
  .container__header__text {
    width: 100%;
    font-size: 3rem;
  }
  .container__header__text-box {
    margin-bottom: 7rem;
  }
  .container__header__btn {
    height: 70px;
    font-size: 2.2rem;
  }
  .container__header {
    margin-bottom: 150px;
    height: 700px;
  }
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
  .container__header__title {
    font-size: 6.5rem;
    width: 90%;
    line-height: 9rem;
    font-weight: bold;
    font-family: "Overpass", sans-serif;
    margin-bottom: 0;
  }
  .container__header__text {
    width: 100%;
    font-size: 3rem;
    line-height: 6rem;
  }
  .container__header__text-box {
    margin-bottom: 7rem;
  }
  .container__header__btn {
    width: 35%;
    height: 70px;
    font-size: 2.2rem;
  }
}

.container__nav__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

.container__nav__logo {
  font-size: 2.5rem;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  color: white;
}

.container__nav__burger-menu {
  height: 20px;
}

.container__nav__box {
  width: 85%;
  height: 550px;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.show {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  font-family: "Ubuntu", sans-serif;
}

.close-btn {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  right: 20px;
  top: 20px;
  position: absolute;
}

.container__nav__list-contact {
  background-color: #dedede;
  padding: 3rem 0;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  gap: 2rem;
  color: #d9d9d9;
  position: relative;
}

.container__nav__list-contact::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #dedede;
  bottom: -3rem;
}

.link {
  font-size: 2rem;
  text-decoration: none;
  color: #5b6771;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
}

.arrow {
  width: 1.2rem;
  margin-bottom: 0.1rem;
}

.container__nav__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  font-family: "Overpass", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.details {
  font-size: 2rem;
}

.container__nav__sign-up {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #ff8f70), color-stop(130%, #ff3d54));
  background-image: linear-gradient(to right, #ff8f70 10%, #ff3d54 130%);
  border-radius: 3rem;
  color: whitesmoke;
}

.container__nav__desktop {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  margin-bottom: 15rem;
}

.container__nav__desktop__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.container__nav__desktop__logo {
  font-size: 3.5rem;
  font-family: "Overpass", sans-serif;
  color: white;
}

.container__nav__desktop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style: none;
}

.container__nav__desktop__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__nav__desktop__link {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
}

.container__nav__desktop .arrow__desktop {
  width: 1rem;
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.container__nav__desktop__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.container__nav__desktop__login {
  font-family: "Overpass", sans-serif;
  font-size: 1.8rem;
  color: white;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.container__nav__desktop__sign-up {
  font-family: "Overpass", sans-serif;
  font-size: 1.8rem;
  color: #ff3d54;
  background-color: white;
  width: 100px;
  border: none;
  font-weight: bold;
  height: 40px;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 375px) {
  .container__nav__mobile {
    margin-bottom: 5rem;
  }
  .container__nav__box {
    top: 55%;
  }
}

@media screen and (min-width: 390px) {
  .container__nav__box {
    top: 50%;
  }
  .container__nav__mobile {
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: 393px) {
  .container__nav__mobile {
    margin-bottom: 12rem;
  }
}

@media screen and (min-width: 412px) and (min-height: 896px) {
  .container__nav__mobile {
    margin-bottom: 15rem;
  }
  .container__nav__box {
    top: 45%;
  }
}

@media screen and (min-width: 450px) {
  .container__nav__box {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .container__nav__box {
    display: none;
  }
  .container__nav__mobile {
    display: none;
  }
  .container__nav__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 820px) {
  .container__nav__desktop {
    margin-bottom: 20rem;
  }
}

@media screen and (min-height: 1080px) {
  .container__nav__mobile {
    margin-bottom: 20rem;
  }
}

@media screen and (min-width: 1200px) {
  .container__nav__desktop {
    width: 1000px;
    margin-bottom: 20rem;
  }
}

@media screen and (min-width: 1440px) {
  .container__nav__desktop {
    width: 1000px;
    margin-bottom: 15rem;
  }
}

@media screen and (min-width: 1920px) {
  .container__nav__desktop {
    width: 1400px;
  }
}

.container__future {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 170px;
}

.container__future__title {
  font-family: "Overpass", sans-serif;
  font-size: 2.7rem;
  color: #294c6b;
  margin-bottom: 30px;
  text-align: center;
}

.container__future__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__future__img {
  margin-bottom: 30px;
  width: 100%;
}

.container__future__text-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__future__details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Overpass", sans-serif;
  margin-bottom: 40px;
}

.container__future__details__title {
  font-size: 3rem;
  width: 70%;
  text-align: center;
  color: #294c6b;
  margin-bottom: 20px;
}

.container__future__details__text {
  text-align: center;
  width: 75%;
  font-size: 1.5rem;
  color: #5b6771;
  line-height: 2.6rem;
}

@media screen and (min-width: 412px) {
  .container__future__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 540px) and (min-height: 720px) {
  .container__future {
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 650px) {
  .container__future {
    margin-bottom: 250px;
  }
}

@media screen and (min-width: 768px) {
  .container__future {
    margin-bottom: 400px;
  }
  .container__future__title {
    font-size: 5rem;
    margin-bottom: 60px;
  }
  .container__future__details {
    margin-bottom: 80px;
  }
  .container__future__details__title {
    font-size: 5rem;
  }
  .container__future__details__text {
    font-size: 3rem;
    line-height: 5rem;
  }
}

@media screen and (min-width: 820px) {
  .container__future__title {
    font-size: 5.5rem;
    margin-bottom: 60px;
  }
  .container__future__img {
    margin-bottom: 80px;
  }
  .container__future__details {
    margin-bottom: 80px;
  }
  .container__future__details__title {
    font-size: 5.8rem;
  }
  .container__future__details__text {
    font-size: 3.5rem;
    line-height: 5.5rem;
  }
}

@media screen and (min-width: 912px) and (min-height: 1368px) {
  .container__future {
    margin-bottom: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .container__future {
    margin-bottom: 250px;
  }
  .container__future__title {
    margin-bottom: 100px;
  }
  .container__future__title {
    font-size: 4rem;
  }
  .container__future__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .container__future__img {
    position: relative;
    right: -80px;
    width: 120%;
    margin-bottom: 80px;
  }
  .container__future__details {
    margin-bottom: 80px;
  }
  .container__future__details__title {
    font-size: 3.5rem;
    width: 100%;
    text-align: left;
  }
  .container__future__details__text {
    text-align: left;
    font-size: 2rem;
    line-height: 3.5rem;
    width: 100%;
  }
  .container__future__text-box {
    margin-left: 100px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1500px) {
  .container__future {
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 1920px) {
  .container__future__box {
    overflow: hidden;
  }
  .container__future__title {
    font-size: 5rem;
  }
  .container__future__details {
    margin-bottom: 80px;
  }
  .container__future__details__title {
    font-size: 4rem;
    width: 100%;
    text-align: left;
  }
  .container__future__details__text {
    text-align: left;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .container__future__img {
    right: -110px;
    width: 130%;
    margin-bottom: 80px;
  }
}

.container__art {
  width: 100%;
  background-color: #3f4164;
  border-radius: 0 10rem 0 10rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  height: 600px;
  margin-bottom: 50px;
}

.container__art::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  top: -100px;
  background-color: #31313a;
}

.container__art::after {
  content: "";
  position: absolute;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  top: -130px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  z-index: -1;
}

.container__art__img {
  position: relative;
  top: -250px;
  width: 350px;
}

.container__art__text-box {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Overpass", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__art__title {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: whitesmoke;
}

.container__art__text {
  width: 90%;
  text-align: center;
  color: #dedede;
  font-size: 1.6rem;
  line-height: 2.7rem;
}

@media screen and (min-width: 360px) {
  .container__art::before {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 375px) {
  .container__art {
    height: 580px;
  }
}

@media screen and (min-width: 540px) and (min-height: 720px) {
  .container__art__title {
    width: 100%;
    font-size: 3rem;
  }
  .container__art__text {
    font-size: 1.5rem;
  }
  .container__art__text-box {
    top: 70%;
  }
}

@media screen and (min-width: 650px) {
  .container__art__img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container__art {
    height: 800px;
    border-radius: 0 15rem 0 15rem;
  }
  .container__art::before {
    width: 550px;
    height: 550px;
    top: -200px;
  }
  .container__art::after {
    width: 700px;
    height: 700px;
    top: -270px;
  }
  .container__art__img {
    position: relative;
    top: -350px;
    width: 650px;
  }
  .container__art__text-box {
    top: 70%;
  }
  .container__art__title {
    font-size: 4.5rem;
  }
  .container__art__text {
    width: 90%;
    text-align: center;
    color: #dedede;
    font-size: 2.2rem;
    line-height: 3.7rem;
  }
}

@media screen and (min-width: 1200px) {
  .container__art {
    height: 400px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 100px;
  }
  .container__art::before {
    width: 450px;
    height: 450px;
    top: -100px;
    left: 100px;
  }
  .container__art::after {
    width: 700px;
    height: 700px;
    top: -270px;
  }
  .container__art__img {
    position: relative;
    top: -80px;
    left: -250px;
    width: 650px;
  }
  .container__art__text-box {
    position: absolute;
    top: 50%;
    left: 950px;
    width: 40%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container__art__title {
    font-size: 4.5rem;
    text-align: left;
  }
  .container__art__text {
    width: 90%;
    color: #dedede;
    font-size: 2.2rem;
    line-height: 3.7rem;
    text-align: left;
  }
}

@media screen and (min-width: 1270px) {
  .container__art__text-box {
    left: 980px;
  }
  .container__art__img {
    left: -300px;
  }
  .container__art::after {
    width: 700px;
    height: 700px;
    top: -270px;
    left: 0;
  }
}

@media screen and (min-width: 1330px) {
  .container__art__text-box {
    left: 1050px;
  }
  .container__art__img {
    left: -350px;
  }
}

@media screen and (min-width: 1400px) {
  .container__art__text-box {
    left: 1100px;
  }
  .container__art__img {
    left: -350px;
  }
}

@media screen and (min-width: 1500px) {
  .container__art__text-box {
    left: 1200px;
    width: 50%;
  }
  .container__art__img {
    left: -450px;
  }
}

@media screen and (min-width: 1630px) {
  .container__art__text-box {
    left: 1300px;
  }
  .container__art__img {
    left: -530px;
  }
}

@media screen and (min-width: 1780px) {
  .container__art__text-box {
    left: 1400px;
  }
  .container__art__img {
    left: -600px;
  }
}

@media screen and (min-width: 1920px) {
  .container__art__text-box {
    left: 1400px;
    width: 40%;
  }
  .container__art__img {
    left: -30%;
  }
}

.container__tooling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 170px;
}

.container__tooling__title {
  font-family: "Overpass", sans-serif;
  font-size: 2.7rem;
  color: #294c6b;
  margin-bottom: 30px;
  text-align: center;
}

.container__tooling__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__tooling__img {
  margin-bottom: 30px;
  width: 500px;
}

.container__tooling__text-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__tooling__details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Overpass", sans-serif;
  margin-bottom: 40px;
}

.container__tooling__details__title {
  font-size: 3rem;
  width: 60%;
  text-align: center;
  color: #294c6b;
  margin-bottom: 20px;
}

.container__tooling__details__text {
  text-align: center;
  width: 75%;
  font-size: 1.5rem;
  color: #5b6771;
  line-height: 2.6rem;
}

@media screen and (min-width: 412px) {
  .container__tooling__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 540px) and (min-height: 720px) {
  .container__tooling {
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 650px) {
  .container__tooling {
    margin-bottom: 250px;
  }
}

@media screen and (min-width: 768px) {
  .container__tooling {
    margin-bottom: 400px;
  }
  .container__tooling__title {
    font-size: 5rem;
    margin-bottom: 60px;
  }
  .container__tooling__details {
    margin-bottom: 80px;
  }
  .container__tooling__details__title {
    font-size: 5rem;
  }
  .container__tooling__details__text {
    font-size: 3rem;
    line-height: 5rem;
  }
  .container__tooling__img {
    width: 800px;
  }
}

@media screen and (min-width: 820px) {
  .container__tooling__title {
    font-size: 5.5rem;
    margin-bottom: 60px;
  }
  .container__tooling__img {
    margin-bottom: 80px;
  }
  .container__tooling__details {
    margin-bottom: 80px;
  }
  .container__tooling__details__title {
    font-size: 5.8rem;
  }
  .container__tooling__details__text {
    font-size: 3.5rem;
    line-height: 5.5rem;
  }
}

@media screen and (min-width: 912px) and (min-height: 1368px) {
  .container__tooling {
    margin-bottom: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .container__tooling {
    margin-bottom: 250px;
  }
  .container__tooling__title {
    margin-bottom: 100px;
  }
  .container__tooling__title {
    font-size: 4rem;
  }
  .container__tooling__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container__tooling__img {
    position: relative;
    left: -80px;
    width: 120%;
    margin-bottom: 80px;
  }
  .container__tooling__details {
    margin-bottom: 80px;
  }
  .container__tooling__details__title {
    font-size: 3.5rem;
    width: 100%;
    text-align: left;
  }
  .container__tooling__details__text {
    text-align: left;
    font-size: 2rem;
    line-height: 3.5rem;
    width: 100%;
  }
  .container__tooling__text-box {
    margin-right: 100px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1500px) {
  .container__tooling {
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 1920px) {
  .container__tooling__box {
    overflow: hidden;
  }
  .container__tooling__title {
    font-size: 5rem;
  }
  .container__tooling__details {
    margin-bottom: 80px;
  }
  .container__tooling__details__title {
    font-size: 4rem;
    width: 100%;
    text-align: left;
  }
  .container__tooling__details__text {
    text-align: left;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .container__tooling__img {
    right: -110px;
    width: 130%;
    margin-bottom: 80px;
  }
}

.container__footer {
  background-color: #2c2d3f;
}
/*# sourceMappingURL=style.css.map */